---
import HostingerFeatureStats from "../components/mainpage/HostingerFeatureStats.astro";
import HostingerVerticalCards from "../components/mainpage/HostingerVerticalCards.astro";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <HostingerFeatureStats />
    <HostingerVerticalCards />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    background: #11092a;
  }
</style>
