---
import HostingerFeatureStats from "../components/mainpage/HostingerFeatureStats.astro";
import HostingerVerticalCards from "../components/mainpage/HostingerVerticalCards.astro";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="any" />
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
  </head>
  <body>
    <HostingerFeatureStats />
    <HostingerVerticalCards />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    background: #11092a;
  }
</style>
