---

---

<script is:inline type="text/javascript">
  (function (m, e, t, r, i, k, a) {
    m[i] =
      m[i] ||
      function () {
        (m[i].a = m[i].a || []).push(arguments);
      };
    m[i].l = 1 * new Date();
    for (var j = 0; j < document.scripts.length; j++) {
      if (document.scripts[j].src === r) {
        return;
      }
    }
    ((k = e.createElement(t)),
      (a = e.getElementsByTagName(t)[0]),
      (k.async = 1),
      (k.src = r),
      a.parentNode.insertBefore(k, a));
  })(
    window,
    document,
    "script",
    "https://mc.yandex.ru/metrika/tag.js?id=104058532",
    "ym",
  );

  ym(104058532, "init", {
    ssr: true,
    webvisor: true,
    clickmap: true,
    trackLinks: true,
    ecommerce: "dataLayer",
    referrer: document.referrer,
    url: location.href,
    accurateTrackBounce: true,
  });

  document.addEventListener(
    "click",
    function (event) {
      var target = event.target;
      if (!(target instanceof Element)) return;

      var element = target.closest("[data-ym-goal]");
      if (!element) return;

      var goal = element.getAttribute("data-ym-goal");
      if (!goal || typeof window.ym !== "function") return;

      window.ym(104058532, "reachGoal", goal, {
        url:
          element.getAttribute("href") ||
          element.getAttribute("data-payment-url") ||
          undefined,
        text: (element.textContent || "").trim().slice(0, 120),
      });
    },
    true,
  );
</script>
<noscript
  ><div>
    <img
      src="https://mc.yandex.ru/watch/104058532"
      style="position:absolute; left:-9999px;"
      alt=""
    />
  </div></noscript
>
